<a href="https://colab.research.google.com/github/JAPreP/Desafio-Telecom-X-/blob/main/TelecomX_JulianPreciado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analisis de data Evasión de Clientes para TELECOM X**

#1. Extracción

In [ ]:


import pandas as pd

# 1. Definimos la variable (Asegúrate de que el nombre sea exacto)
url_api = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

try:
    # 2. Usamos la variable que definimos arriba
    df = pd.read_json(url_api)
    print("¡Archivo cargado exitosamente!")
    print(f"Dimensiones de los datos: {df.shape}") # Esto te dirá cuántas filas y columnas hay
    display(df.head())
except Exception as e:
    print(f"Hubo un error al procesar el JSON: {e}")

¡Archivo cargado exitosamente!
Dimensiones de los datos: (7267, 6)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [ ]:
import pandas as pd
import requests
from pandas import json_normalize

# 1. Realizamos la consulta a traves de requets
response = requests.get(url_api)
datos_originales = response.json()

In [ ]:

# 2.  al normalizar el diccionario creamos un DataFrame limpio

df_final = json_normalize(datos_originales)
print(f"Columnas después de normalizar: {len(df_final.columns)}")
df_final.head()

Columnas después de normalizar: 21

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# 2. Transformación

In [ ]:

# veamos que informacion muestra el dataframe que se acaba de limpiar para
# realizar algunas transformaciones
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
# 1. Renombremos las columnas para quitar los puntos
# Esto hará que sea más sencillo escribir código (ej: df.churn en lugar de df['Churn'])
df_final.columns = [col.replace('.', '_') for col in df_final.columns]

# Luego Arreglaremos  la columna account_Charges_Total que esta definida como object ---
# entonces primero convertimos espacios vacíos en NaN (nulos) y luego a números

df_final['account_Charges_Total'] = pd.to_numeric(df_final['account_Charges_Total'], errors='coerce')

#  Si hay nulos (clientes nuevos con 0 cargos), los llenamos con 0
df_final['account_Charges_Total'] = df_final['account_Charges_Total'].fillna(0)

# luego de ello Verificamos lo realizado
print("¡dataframe Actualizafo!")
print(df_final[['account_Charges_Monthly', 'account_Charges_Total']].info())
df_final.head()

¡dataframe Actualizafo!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   account_Charges_Monthly  7267 non-null   float64
 1   account_Charges_Total    7267 non-null   float64
dtypes: float64(2)
memory usage: 113.7 KB
None

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

In [ ]:
df_final['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [ ]:
# tenemos 224 valores que no poseen distincion utilicemos algunas tecnicas para
# establecer su relevancia en el analisis


# 1. Creamos un DataFrame solo con los casos sin identificar
df_desconocidos = df_final[~df_final['Churn'].isin(['Yes', 'No'])]

# 2. Para ver que tienen en comun revisemos sus promedios
print("Promedio de cargos mensuales de los 'Datos_Desconocidos':")
print(df_desconocidos['account_Charges_Monthly'].mean())

print("\nPromedio de cargos mensuales de los Clientes Normales:")
print(df_final[df_final['Churn'].isin(['Yes', 'No'])]['account_Charges_Monthly'].mean())

# 3. que tipos de clientes son para ello se revisa su antigüedad (tenure)
print("\nAntigüedad promedio de los 'Datos_Desconocidos':")
print(df_desconocidos['customer_tenure'].mean())

Promedio de cargos mensuales de los 'Datos_Desconocidos':
63.412276785714276

Promedio de cargos mensuales de los Clientes Normales:
64.76169246059918

Antigüedad promedio de los 'Datos_Desconocidos':
31.571428571428573

In [ ]:
# los resultados anteriores permiten determinar que se encuentran en el promedio
# y no afectan el analisis  su inclusion puede crear sesgos en los resultados finales

# 1. Mediante replace se estandarizan posibles vacíos que puedan estar presentes
df_final['Churn'] = df_final['Churn'].replace('', 'Desconocido')

# 2. Aplicamos el filtro para dejar solo los datos útiles para el análisis de evasión
# Dejamos fuera los 224 porque no podemos "adivinar" si se fueron o no
df_limpio = df_final[df_final['Churn'].isin(['Yes', 'No'])].copy()

# 3. Aprovechamos para estandarizar otras columnas de texto (lower)
# Esto evita que 'Fiber optic' y 'fiber optic' se cuenten como dos cosas distintas
columnas_objeto = df_limpio.select_dtypes(include=['object']).columns
for col in columnas_objeto:
    df_limpio[col] = df_limpio[col].str.strip() # Quita espacios al inicio o final

In [ ]:
# aqui ya podemos observar una distribuccion apropiada para Yes o NO
print("\nDistribución de Churn:")
print(df_limpio['Churn'].value_counts())

Distribución de Churn:
Churn
No     5174
Yes    1869
Name: count, dtype: int64

#📊 Carga y análisis

#📄Informe final